.wrap {
  //background: #6F3F37;
  color: #fff;
  height: 100vh;

  .container {
    display: flex;
    gap: 135px;
    justify-content: left;
    padding-top: 54px;
    max-width: 95%;
    margin: 0 auto;
    .content {
      z-index: 3;

      &-info {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &-title {
          font-size: 175px;
          padding-bottom: 21px;
        }

        &-subtitle {
          padding-bottom: 32px;
          font-size: 40px;
          color: #FFE600;
        }

        button {
          display: flex;
          align-items: center;
          background: #161616;
          border: 0;
          color: #fff;
          padding: 0 23px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 20px;
          box-shadow: 0px 10px 10px rgba(0,0,0, 0.25);
        }
      }
    }



    .bathroom {
      position: absolute;
      background: #000;
      width: 60%;
      top: 0;
      right: 0;
      height: 100vh;
    }


    .bg-color {
      z-index: -1;
      background: #6F3F37;
      position: absolute;
      width: 40%;
      top: 0;
      left: 0;
      height: 100vh;
      .line-main:first-child {
        background: rgba(255,255,255, .60);
        width: 1px;
        height: 222px;
        position: absolute;
        right: 84px;
      }
      .line-main:nth-child(2) {
        background: rgba(255,255,255, .60);
        width: 1px;
        height: 222px;
        position: absolute;
        left: 40%;
        bottom: 0;
      }
    }
  }
}